[Unit]
Description=Mount 120.32 server with sshfs
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=10

[Install]
WantedBy=default.target

[Service]
Type=forking
ExecStart=/opt/sshfs/mount_ssh_servers.sh
ExecStop=/usr/bin/fusermount -u /mnt/192.168.120.32/
Restart=on-failure
RestartSec=20

User=simon
Group=simon

